<ul>
  <% @bookmarks.each do |bookmark| %>
    <li><%= bookmark %></li>
  <% end %>
</ul>
<form action="/bookmarks/new" method="get">
  <input type="submit" value="Add bookmark" />
</form>
<form action="/bookmarks/deleting" method="get">
  <input type="submit" value="Delete bookmark" />
</form>
