<h1> Please input the change as: url, title </h1>

<form action="/bookmarks/saved" method="post">
  <input type="text" name="url" />
  <input type="text" name="title">
  <input type="submit" value="Submit" />
</form>