<h1> Please input the change as: title, new title, url </h1>

<form action="/bookmarks/updater" method="post">
  <input type="text" name="title">
  <input type="text" name="new_title">
  <input type="text" name="url">
  <input type="submit" value="Submit" />
</form>